// Primary colours
$workflow-black: #252d38;
$workflow-blue: #5aa5cc;
$silver: #afafaf;
$white: #ffffff;

// Secondary colours
$workflow-darkblack: #000000;
$workflow-salmon: #ce7c70;
$workflow-green: #98c147;
$workflow-darkblue: #255f8b;
$mercury: #e1e1e1;
$alabaster: #fafafa;
