@use "../../styles/partials/mixins";
@use "../../styles/partials/colours";

.dashboard {
  display: flex;
  width: 100vw;
  height: 90vh;
  &__title {
    margin-bottom: 0.5rem;
  }
  &__projects {
    min-width: 15%;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  &__tasks {
    background-color: colours.$mercury;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    flex-grow: 1;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
}
.stage {
  display: flex;
  flex-direction: column;
  background-color: colours.$white;

  min-width: 24%;
  padding: 1rem;
  border-radius: 0.5rem;
  &__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    background-color: colours.$workflow-darkblue;
    color: colours.$white;
    border: none;
    &:hover {
      background-color: colours.$workflow-blue;
      cursor: pointer;
    }
  }
}
.task {
  padding: 1rem;
  background-color: colours.$alabaster;
  border-radius: 0.5rem;
  &__title {
    margin-bottom: 0.5rem;
  }
  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colours.$white;
    border: none;
    border-radius: 50%;
    padding: 0.25rem;
    &:hover {
      cursor: pointer;
    }
    &--next {
      background-color: colours.$workflow-green;
    }
    &--previous {
      background-color: colours.$workflow-salmon;
    }
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: colours.$white;
  background-color: colours.$workflow-darkblue;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  &:hover {
    background-color: colours.$workflow-blue;
    cursor: pointer;
  }
  &__text {
    margin-left: 0.5rem;
  }
}
.project {
  padding: 1rem;
  border-left: 1px solid colours.$workflow-darkblue;
  border-bottom: 1px solid colours.$workflow-darkblue;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  &:first-of-type {
    border-top: 1px solid colours.$workflow-darkblue;
    margin-top: 1rem;
  }
  &:hover {
    background-color: colours.$alabaster;
  }
  &--selected {
    background-color: colours.$mercury;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    &:hover {
      background-color: colours.$mercury;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
  }
}
