@use "../../styles/partials/mixins";
@use "../../styles/partials/colours";

.dashboard {
  display: flex;
  width: 100vw;
  height: 90vh;
  padding: 1rem 1rem 1rem 0;
  &__title {
    margin-bottom: 0.5rem;
  }

  &__projects {
    min-width: 25%;
    background-color: colours.$alabaster;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
    border-right: 1px solid;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: colours.$white;
  background-color: colours.$workflow-darkblue;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  &:hover {
    background-color: colours.$workflow-blue;
    cursor: pointer;
  }
  &__text {
    margin-left: 0.5rem;
  }
}
.project {
  padding: 1rem;
  border-bottom: 1px solid colours.$silver;
  &:hover {
    background-color: colours.$mercury;
  }
}
